<div class="container border rounded mt-5 p-4">
    <div class="container d-flex justify-content-between align-items-center">

         <!-- Button trigger modal -->
        <button class="btn btn-primary btn-md px-4 my-2 " data-bs-toggle="modal" data-bs-target="#head">Add Student</button>
        <button id="moon">🌚</button>
        <form action="" method="get" class="d-flex justify-content-space">
            <input type="search" placeholder="Search" name="srch" class="form-control">
            <button type="submit" class="btn btn-success mx-2">Search</button>
        </form>
    </div>
</div>
